*
!sample.env
!docker-compose.yml
!.gitignore
!README.md

!data
data/*
!data/certs
data/certs/*
!data/certs/.gitkeep
!data/conf.d
data/conf.d/*
!data/conf.d/.gitkeep
!data/conf.d/default.conf

!conf.d
conf.d/*
!conf.d/realip.conf
!conf.d/servertokens.conf
!conf.d/uploadsize.conf

!data/html
data/html/*
!data/html/503.html

!data/htpasswd
data/htpasswd/*

!data/vhost.d
data/vhost.d/*

!nginx.tmpl
